<header class="header">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-lg mt-3 mb-3">
      <a class="navbar-brand" routerLink="/">
        <h2>
          <span class="navbar-brand-text-alt">App del</span> Clima
        </h2>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarDropdown">
        <ul class="nav navbar-nav ml-auto navbar-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard/current-weather">Actual lugar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>