
<div class="card card-sm card-weather">
  <div class="card-header">Ciudades Populares</div>
  <div class="card-body p-0">
    <div class="card card-sm m-3" *ngFor="let weather of weathers" (click)="detailCity(weather)">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left text-left">
            <h4 class="m-0">{{weather.city}}</h4>
            <div class="deg">{{weather.temp}} &deg;C</div>
            <h5 class="m-0">{{weather.description}}</h5>
            <h5 class="m-0 wind">{{weather.wind}} m/s</h5>
          </div>
          <div class="float-right text-right clearfix">
            <img src="http://openweathermap.org/img/w/{{weather.img}}.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>


