<main class="curren-weather">
  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <div class="card text-center card-sm">
          <div class="card-header">Ciudad Actual</div>
          <div class="card-body p-0">
            <h4 class="m-0 p-10">{{weather.city}}</h4>
            <div class="display-2 deg">{{weather.temp}} &deg;C</div>
            <h5 class="m-0">{{weather.description}}</h5>
            <h5 class="m-0 wind">{{weather.wind}} m/s</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="forecast">
    <div class="card text-center card-sm">
      <div class="card-header">Pronóstico</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-3 col-xs-2 p-2" *ngFor="let forecast of forecasts">
            <div class="row align-items-center text-center">

              <div class="col-4">
                <img class="img-responsive" src="http://openweathermap.org/img/w/{{forecast.nextImg}}.png"/>
              </div>

              <div class="col-8">
                  <h5 class="">{{forecast.nextDate}}</h5>
                  <h5 class="">{{forecast.nextDay}}</h5>
                  <h5 class="">{{forecast.nextHour}}</h5>
                  <h4 class="">{{forecast.nextTemp}} &deg;C</h4>
                  <h5 class="">{{forecast.nextDescription}}</h5>
                  <h5 class="wind">{{forecast.nextWind}} m/s</h5>                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
