<main>
  <div class="container">
    <div class="row">
      <div class="col col-md-4 col-sm-12 mb-sm-3">
        <app-weather></app-weather>
      </div>
      <div class="col col-md-8 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>