/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Fuentes */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url("../src/assets/fonts/Roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("../src/assets/fonts/Roboto/Roboto-LightItalic.ttf") format('truetype');
}

/* Normal */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url("../src/assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url("../src/assets/fonts/Roboto/Roboto-Italic.ttf") format('truetype');
}

/* Bold */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url("../src/assets/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("../src/assets/fonts/Roboto/Roboto-BoldItalic.ttf") format('truetype');
}

/* Estilos generales */

*{
	margin: 0;
	padding: 0;
}

body {
  font-family: Roboto, Tahoma, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 14px;
  color: #4c4c4c;
  overflow-x: hidden;
  background: #14b49f;
}

/* Header */

.navbar-light {
    background-color: #043aa0;
}
.navbar {
    letter-spacing: .02rem;
    padding: 1.2rem 2.4rem !important;
    -webkit-box-shadow: 0 2px 23px 0 rgba(0,0,0,.1),0 2px 49px 0 rgba(0,0,0,.06);
    box-shadow: 0 2px 23px 0 rgba(0,0,0,.1),0 2px 49px 0 rgba(0,0,0,.06);
    border-radius: 0;
}

.header .navbar-brand, .header a, .header a:hover {
	color: #fff !important;
	font-family: roboto;
	font-style: normal;
    font-weight: 400;
}

.header .navbar-brand h2 span, .header a, .header a:hover {
	font-weight: 300;
}

/*card weather*/

.card-weather, .card-weather .card, .curren-weather .card {
	border: none !important;
	color: white;
}

.card-weather, .curren-weather .card {
	background-color: rgba(255, 255, 255, .6);
}

.card-weather .card-header, .card-weather .card, .curren-weather .card-header{
	background-color: #043aa0;
}

.card-weather h4 {
	font-size: 16px !important;
	font-weight: 400 !important;
}

.card-weather h5 {
	font-size: 14px !important;
	font-weight: 300 !important;
}

.card-weather .deg {
	font-size: 2rem !important;
}

/* curren weather */

.curren-weather .container {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.curren-weather h4, .curren-weather h5 {
	font-size: 1.5rem !important;
	font-weight: 300 !important;
	padding: .5rem;
}

.curren-weather .deg, .curren-weather h4, .curren-weather h5 {
	color: #043aa0;
}

/* forecast */
.curren-weather .forecast h5 {
	color: #043aa0;
    font-size: 11px !important;
    font-weight: 300 !important;
    padding: 0;
    margin: 0;
}

.curren-weather .forecast h4 {
	color: #043aa0;
	font-size: 14px !important;
	font-weight: 700 !important;
	padding: 0;
    margin: 0;
}

h4:not(.wind), h5:not(.wind) {
	text-transform: capitalize;
}
